<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="utf-8"/>
    <title>Documentation</title>

    <link href="css/app.min.css" rel="stylesheet">

    <script src="js/modernizr.min.js" type="text/javascript"></script>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body ng-controller="Elements as elements">

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="#">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bookmark fa-stack-1x fa-inverse"></i>
                    </span>

                    Documentation
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            <li class="has-dropdown active">
                <a href="#">Documentation</a>
                <ul class="dropdown">
                    <li><a href="#">\</a></li>
                    <li class="active"><a href="#">phpDocumentor</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#">Charts</a>
                <ul class="dropdown">
                    <li><a href="#">Class Diagram</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#">Reports</a>
                <ul class="dropdown">
                    <li><a href="#">TODO</a></li>
                    <li><a href="#">Deprecated</a></li>
                    <li><a href="#">Documentation Standard Violations</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>

<section class="page row">
    <section class="medium-3 column sidebar collapse" ng-include src="'sidebar'"></section>
    <section class="medium-9 column" ng-view></section>
</section>

<script src="js/dependencies.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>

</body>
</html>